body {
   font-family: 'Ubuntu', sans-serif;
   font-size: 18px;
   background-image: url(/resources/images/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.background{

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  color: white;
  text-shadow: 1px 1px 2px black;
  background-color: #a2afbd;
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px black;

}

.button-margin {
  margin-top: 18px;
}

.beer-button {
  background-image: url(/resources/images/beer.png);
  background-size: cover;
  height: 78px;
  width: 78px;
  padding-left: 9px;

}

.almostEmpty {
  animation: colorFlash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.selectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

@keyframes colorFlash {
  0% {background: #FFFCC6};
  50% {background: #E8543C};
  100% {background: #FFFCC6};
}

li {

  padding-left: 10px;
  padding: 10px;
  width: 1000px;
  margin-top: 22px;
  border: 1px solid black;
  border-radius: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 500px;
  float: center;
  margin-top: 20px;
}

strong {
  font-size: 20px;
}

#newKegForm, #editKeg, label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}
