body {
   font-family: 'Ubuntu', sans-serif;
}

.almostEmpty {
  animation: colorFlash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes colorFlash {
  0% {background: #FFFCC6};
  50% {background: #E8543C};
  100% {background: #FFFCC6};
}
